# PrismLauncher stuff
icon.png

# Client files
backups/
crash-reports/
library
logs/
journeymap/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

options.txt
usercache.json
usernamecache.json
*.log

config/jei/worldSettings.cfg
config/splash.properties

# Mod files
*.jar
*.jar.disabled
*.jar.meta
*.nbt
*.so
llibrary/